.tablica{
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;

    text-align: center;
    font-size: 29px;
  
  }
  th, td {
    border: 3px solid black;
    padding: 8px;}
  .tg{
    background: rgb(136, 237, 136);

  }
  .tr{
    background: rgb(249, 171, 171);

  }
  .tgrey{

  }
  body{

    margin: auto;
    background-color: beige;
  }
  .bb{
    background-color: beige;
  }
  .r1{
    background:#eeb85a
  }
  /* upd */